@import url("./index.css");

/* Card styles */
.card {
  width: 100%;
  flex-direction: row;
  height: 22rem;
}

.card-img {
  width: 40%;
  height: 100%;
}

.card-img img{
  object-fit: contain;
}

.card-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.card-brief {
  height: var(--size-21);
}

/* Quantity trigger in card */
.quantity-trigger {
  width: var(--size-13);
  height: 100%;
}

.quantity-input {
  width: var(--size-13);
  border: 1px solid var(--secondary-color);
  border-radius: var(--radius-large);
}

.card-btns {
  margin-top: var(--size-9);
}

/* Price total style */
.price-total .txt-md,
.total-message .txt-md {
  font-size: 1.3rem;
}

@media screen and (max-width: 1024px) {
  /* Grid column for large screen */
  .grid-cols-2-1 {
    grid-template-columns: none;
  }

  /* Price table shows on top */
  .grid-reverse {
    order: -1;
  }

  /* Better layout for smaller screen */
  .max-width-1000 {
    max-width: 600px;
  }
}

@media screen and (max-width: 768px) {
  /* Card styles for larger mobiles */
  .card {
    max-height: 18rem;
  }

  .card-info {
    width: 70%;
  }

  .card-brief {
    display: none;
  }

  .card-img {
    width: 30%;
  }

  .btn-cta,
  .btn-wish {
    font-size: var(--size-8);
  }
}

@media screen and (max-width: 480px) {
  /* Card styles for smaller mobiles */
  .card-title p {
    margin-top: 0;
    font-size: var(--size-10);
  }

  .card-btns,
  .quantity {
    padding: var(--size-5);
  }

  .card-btns {
    margin-top: 0;
  }

  .quantity .px-lg {
    padding: 0 var(--size-7);
  }

  .quantity p {
    font-size: var(--size-9);
  }

  .card-btns .btn {
    white-space: normal;
  }

  .card-btns .btn-md {
    padding: var(--size-5) var(--size-9);
  }

  .card-btns .my-1 {
    margin: var(--size-5) 0;
  }
}

@media screen and (max-width: 360px) {
  /* Ensure visibility on smallest screen */
  .page-content {
    padding-left: var(--size-9);
    padding-right: var(--size-9);
  }
}
