@import url("./index.css");

.input-checkbox {
  flex-direction: row;
  justify-content: space-between;
}

.input-checkbox input[type="checkbox"] {
  margin-left: var(--size-3);
}

.login-page {
  min-height: 80vh;
  position: relative;
}

.login-modal {
  max-width: 30rem;
  margin: auto;
  position: relative;
}

.login-title {
  border-bottom: 2px solid var(--primary-dark-color);
  padding: var(--size-5);
}

.color-prim {
  color: var(--primary-dark-color);
}

.login-close-btn {
  transform: translate(-100%, 100%);
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .forgot {
    margin: var(--size-5) 0;
  }
}
