@import url("./index.css");

.filters {
  position: fixed;
  width: 18rem;
  height: 100vh;
}

.btn:hover {
  transform: none;
}

.btn-sec {
  outline: 2px solid var(--secondary-color);
}

.product-cards,
.footer {
  margin-left: 18rem;
  width: calc(100% - 18rem);
}

.checkbox,
.radiobutton {
  width: fit-content;
  transform: scale(1.2);
}

.filter-section {
  height: 70vh;
  overflow-y: scroll;
}

.card {
  width: 18rem;
}

.card-img {
  height: 150px;
}

.card-img img {
  object-fit: scale-down;
}

.card {
  height: 25rem;
}

.rating {
  background-color: var(--primary-extra-light-color);
  padding: var(--size-3) var(--size-5);
  border-radius: var(--radius-large);
}

.strike-color {
  color: var(--btn-error-color);
}

.card-brief {
  padding: 0 var(--size-5);
}

.wish-heart-btn {
  width: var(--size-15);
  height: var(--size-15);
}

.wish-heart-btn i {
  font-size: var(--size-11);
}

.wish-heart-btn:hover {
  background-color: var(--primary-extra-light-color);
}

.wish-heart-btn:hover i {
  color: var(--badge-red);
  fill: var(--badge-red);
}
.border-circle {
  border-radius: 50%;
}

.top-right-pos {
  transform: translate(-25%, 25%);
}

@media screen and (min-width: 769px) {
  .grid-col-1 {
    grid-template-columns: 0;
  }

  footer .grid-cols-2 {
    grid-template-columns: 0;
  }

  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .mob-hide {
    display: none;
  }

  .product-cards,
  .footer {
    margin-left: 0;
    width: 100%;
  }

  .product-cards {
    margin: var(--size-13) 0;
  }

  .filters {
    width: 100%;
  }

  .mob-header {
    margin-top: 0;
    margin-bottom: 0;
    margin: var(--size-11) 0;
  }

  .mob-aside {
    position: relative;
    min-height: 0;
    height: fit-content;
    padding-left: 0;
    margin-top: 0;
  }
  .my-3 {
    margin: 0;
  }

  .grid-cols-auto {
    grid-template-columns: 0;
  }

  .grid-col-1 {
    grid-template-columns: 0;
  }

  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(min-content, auto));
  }
}

@media screen and (max-width: 650px) {
  .grid-cols-auto {
    grid-template-columns: 0;
  }
  .grid-col-1 {
    grid-template-columns: minmax(min-content, auto);
  }
}

@media screen and (max-width: 360px) {
  .page-content {
    padding-left: var(--size-9);
    padding-right: var(--size-9);
  }
}
