@import url("./index.css");

/* Sign up page styles */
.sign-up-page {
  min-height: 80vh;
  position: relative;
}

.sign-up-modal {
  max-width: 30rem;
  margin: auto;
  position: relative;
}

.sign-up-title {
  border-bottom: 2px solid var(--primary-dark-color);
  padding: var(--size-5);
}


