.wrapper {
    background-color: rgba(124, 58, 237, 0.2);
}

.hero-section{
    position: relative;
    height: 90vh;
}

.hero{
    width: 100%;
    height: 100%;
}

.hero img{
    object-fit: cover;
}

.hero-overlay{
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    padding-right: var(--size-11);
    padding-left: var(--size-9);
    background-color: var(--primary-extra-light-color);
    color: var(--color-white);
}

.imp-word{
    color: var(--primary-dark-color);
}

.products{
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
}

.footer{
    background-color: var(--secondary-color);
    color: var(--secondary-light-color);
}

.category{
    width: 12rem;
    height: 12rem;
    background-color: var(--primary-extra-light-color);
    position: relative;
    overflow: hidden;

}

.flex-wrap{
    flex-wrap: wrap;
}

.blur {
    filter: opacity(40%);
    height: auto;
}

.cover-text{
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
}

.category:hover{
    background-color: var(--color-white);
}

.category:hover .blur{
    filter: opacity(90%);
}

@media screen and (max-width: 768px) {
    .mob-grid-1{
        grid-template-columns: 1fr;
    }
}
