.wrapper {
    background-color: var(--primary-extra-light-color);
}

.hero-section{
    position: relative;
    height: 90vh;
}

.hero{
    width: 100%;
    height: 100%;
}

.hero img{
    object-fit: cover;
}

.hero-overlay{
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    padding-right: var(--size-11);
    padding-left: var(--size-9);
    background-color: var(--primary-extra-light-color);
    color: var(--color-white);
}

.imp-word{
    color: var(--primary-dark-color);
}

.products{
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
}

.footer{
    background-color: var(--secondary-color);
    color: var(--secondary-light-color);
}